// COLOR
$white: #FFFFFF;
$red: #EA5555;
$redLight: #FF9898;
$blue: #635FC7;
$blueLight: #A8A4FF;
$black: #000112;
$darkLine: #3E3F4E;
$lightLine: #E4EBFA;
$lightGrey: #F4F7FD;
$mediumGrey: #828FA3;
$darkGrey: #2B2C37;
$veryDarkGrey:#20212C;
$linear: #E9EFFA;

// Font weight
$bold: 700;
$medium: 500; 

$opcaity10: 1A; 
$opcaity25: 40; 
$opcaity50: 80; 

// Any
$headerHeight: 75px;
$sidebarwidth: 250px;
